
:root{/* root สี ประกาศ var()แล้วใช้ได้เลย*/
  --black:#000000;
  --white:#ffffff;
  --grey:#808080;

}
.topbar{
  background:var(--grey);
}
.topbar__inner{
  max-width:980px;margin:0 auto;padding:18px 16px;
  display:flex;align-items:center;justify-content:center;
}
.topbar h1{margin:0;font-weight:500;letter-spacing:.5px}

